<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Map Generator</title>

    <script type="text/javascript" src="~/Scripts/html2canvas.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/MediaQueries.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body id="container">
    <ul class="unselectable">
        <div class="title">
            <img src="~/images/Logo 2.png" style="width:240px; margin-top:40px;" />

        </div>

        <div class="option-menu">
            <p>Options</p>
            <form action="@Url.Action("Index","Catan")">
                <input  value="Generate" type="submit">
            </form>
            <form>
                <input id="download" value="Download Image" type="button">
            </form>
            @*<form>
                <input onClick="window.location.reload()" value="Save" type="submit">
            </form>
            <form>
                <input onClick="window.location.reload()" value="Load" type="submit">
            </form>
            <form action="/action_page.php">
                <input type="text" id="#textarea" style="width: 180px; background-color:#DDDDDD; color:#333; text-align: center; cursor: text; font-size: 10px;" placeholder="Copy/Paste your unique Code"></input><br>

            </form>*@
        </div>
    </ul>
    <!-- Script -->

    <script>
        var input = document.getElementById("#textarea");
        var button = document.getElementById("#textarea");

        button.addEventListener("click", function (event) {
            event.preventDefault();
            input.select();
        });
    </script>

    <script type='text/javascript'>
        document.getElementById("download").addEventListener("click", function () {

            html2canvas(document.querySelector('#grid-container')).then(function (canvas) {

                console.log(canvas);
                saveAs(canvas.toDataURL(), 'Catan.png');
            });
        });


        function saveAs(uri, filename) {

            var link = document.createElement('a');

            if (typeof link.download === 'string') {

                link.href = uri;
                link.download = filename;

                //Firefox requires the link to be in the body
                document.body.appendChild(link);

                //simulate click
                link.click();

                //remove the link when done
                document.body.removeChild(link);

            } else {

                window.open(uri);

            }
        }
    </script>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>