@model Catan.Models.Viewmodel.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<head>
    <link href="~/css/hidden.css" rel="stylesheet" />
</head>
<div class="error" style="color: white;">
    <h2>Error @Model.StatusCode</h2>
    <h2>An error occurred while processing your request.</h2>
    <p>Request ID: @Model.RequestId</p>

    <form action="@Url.Action("Index","Catan")">
        <button class="ErrorButton">Go Back</button>
    </form>
</div>