@model Catan.Models.Viewmodel.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div style="padding:5% 5%"  class="text-danger">

    <h1>Error @Model.StatusCode</h1>
    <h2>An error occurred while processing your request.</h2>
       
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
            <h4>
                The server has not found anything matching the Request-URI.
            </h4>
            <h4>
                No indication is given of whether the condition is temporary or permanent.
            </h4>
        }
</div>


