ul {
    position: absolute;
    visibility: hidden;
}

    ul p {
        position: absolute;
        visibility: hidden;
    }

li a {
    position: absolute;
    visibility: hidden;
}


    li a:hover {
        position: absolute;
        visibility: hidden;
    }

.title {
    position: absolute;
    visibility: hidden;
}

.unselectable {
    position: absolute;
    visibility: hidden;
}

.option-menu {
    position: absolute;
    visibility: hidden;
}

    .option-menu p {
        position: absolute;
        visibility: hidden;
    }

    .option-menu input {
        position: absolute;
        visibility: hidden;
    }


        .option-menu input:hover {
            position: absolute;
            visibility: hidden;
        }

.footer {
    position: absolute;
    visibility: hidden;
}

hr {
    position: absolute;
    visibility: hidden;
}

.ErrorButton {
    background-color: #333;
    border: none;
    color: white;
    padding: 6px 18px;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: .4s;
    cursor: pointer;
    border-radius: 2px;
    width: 180px;
    height: 32px;
}

