<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/Scripts/html2canvas.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Map Generator</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/MediaQueries.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lusitana:700" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body id="container">
    <ul class="unselectable">
        <div class="title">
            <img src="~/Images/Logo 2.png" style="width:240px; margin-top:40px;"/>

        </div>

        <div class="option-menu">
            <p>Options</p>
            <form>
                <input onClick="window.location.reload()" value="Generate" type="submit">
            </form>
            <form>
                <input id="download" value="Download Image" type="button">
            </form>
            <form>
                <input onClick="window.location.reload()" value="Save" type="submit">
            </form>
            <form>
                <input onClick="window.location.reload()" value="Load" type="submit">
            </form>
            <form action="/action_page.php">
                <textarea id="#textarea" style="background-color:#DDDDDD; color:#333; text-align: center;"></textarea>    Copy/Paste your unique Code<br>

            </form>
        </div>
        <div class="footer">
            <a>&copy; 2019 Proftaak groep 3</a><br />
            <a>All rights reserved</a>
        </div>
    </ul>
    <!-- Script -->

    <script>
        var input = document.getElementById("#textarea");
        var button = document.getElementById("#textarea");

        button.addEventListener("click", function (event) {
            event.preventDefault();
            input.select();
        });
    </script>

    <script type='text/javascript'>
        document.getElementById("download").addEventListener("click", function () {

            html2canvas(document.querySelector('#grid-container')).then(function (canvas) {

                console.log(canvas);
                saveAs(canvas.toDataURL(), 'Catan.png');
            });
        });


        function saveAs(uri, filename) {

            var link = document.createElement('a');

            if (typeof link.download === 'string') {

                link.href = uri;
                link.download = filename;

                //Firefox requires the link to be in the body
                document.body.appendChild(link);

                //simulate click
                link.click();

                //remove the link when done
                document.body.removeChild(link);

            } else {

                window.open(uri);

            }
        }
    </script>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>