<link rel="stylesheet" href="../Content/style.css" type="text/css">
@using Catan_Asp._Net.Views.Catan
@{
    ViewBag.Title = "Index";

    HexagonPosition position = new HexagonPosition();
    Materials materialchooser = new Materials();
    Drawnumber drawnumber = new Drawnumber();
}

@{
    int margin_left = 203;  //Start x-position for 1st row
    int margin_top = -62;   //Start y-position for 1st row

    string px = "px";
}
<body>
    <div class="zoom">
    <div class="grid-container">
        @for (int i = 0; i < 37; i++)
        {
            position.Margin_Left(i, margin_left);
            margin_left = position.new_margin_left;
            position.Margin_Top(i, margin_top);
            margin_top = position.new_margin_top;

            if (i > 4 && i != 8 && i != 9 && i != 14 && i != 15 && i != 21 && i != 22 && i != 27 && i != 28 && i < 32)
            {
                materialchooser.ChooseMaterial();
                if (materialchooser.count > 0)
                {
                    if (materialchooser.MaterialChooser == 1)
                    {
                    <div id="hexagondesert" class="item7" style="margin-top:@margin_top@px; margin-left:@margin_left@px"></div>
                    }
                    if (materialchooser.MaterialChooser == 2)
                    {
                    <div id="hexagonwood" class="item7" style="margin-top:@margin_top@px; margin-left:@margin_left@px"></div>

                    }
                    if (materialchooser.MaterialChooser == 3)
                    {
                    <div id="hexagonore" class="item7" style="margin-top:@margin_top@px; margin-left:@margin_left@px"></div>

                    }
                    if (materialchooser.MaterialChooser == 4)
                    {
                    <div id="hexagonstone" class="item7" style="margin-top:@margin_top@px; margin-left:@margin_left@px"></div>

                    }
                    if (materialchooser.MaterialChooser == 5)
                    {
                    <div id="hexagonwool" class="item7" style="margin-top:@margin_top@px; margin-left:@margin_left@px"></div>

                    }
                    if (materialchooser.MaterialChooser == 6)
                    {
                    <div id="hexagongrain" class="item7" style="margin-top:@margin_top@px; margin-left:@margin_left@px"></div>
                    }
                }
                if (materialchooser.MaterialChooser == 1)
                {
                <div class="circle-text" style="margin-top:@margin_top@px; margin-left:@position.margin_leftnumber@px;"><img class="robber" src="~/Images/rover.jpg" alt="rover" width="30" height="40"></div>
                }
                if (materialchooser.MaterialChooser != 1)
                {

                    drawnumber.MakeNumber();
                  
                    {
                    <div class="circle-text" style="margin-top:@margin_top@px; margin-left:@position.margin_leftnumber@px; "><p>@drawnumber.number</p></div>

                        if (drawnumber.number == 6 || drawnumber.number == 8)
                        {
                        <div class="circle-text" style="margin-top:@margin_top@px; margin-left:@position.margin_leftnumber@px; color:red">@drawnumber.number</div>
                        }
                        if (drawnumber.number == 2 || drawnumber.number == 12)
                        {
                        <div class="circle-text" style="margin-top:@margin_top@px; margin-left:@position.margin_leftnumber@px; font-size: 13px;">@drawnumber.number</div>
                        }
                    }
                }
            }
            //Make Surrounding Hexagons Blue\\
            else //if tile is not a playground hexagon
            {
                <div id="hexagonblue" class="item7" style="margin-top:@margin_top@px; margin-left:@margin_left@px"></div>
            }
        }
    </div>
        </div>
</body>