body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url('../Images/Web 1920 – 1@2x.png');
    background-size:cover;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

    .body-content h2 {
        color: #dadada;
    }
.zoom{
    zoom: 130%;
    margin-left: -57px;

}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

